.card{
   background-color: blue;
   height: 100px;
   width: 100px;
   color: aliceblue; 
   text-align: center;
   border: 1px solid black;
   transform-style: preserve-3d;
   transform: rotateZ(-0deg);
   transition: ease-in-out .3s;
   display: table-cell;
   vertical-align: middle;
   &:after{
    content: '';
    position: absolute;
    width: 20px;
    height: 40px;
    top:-.7em;
    right: 0;
    transform: rotate(0deg);
    background-color: rgb(0, 34, 119);
  
   }
 }
 .card:hover{
  transform:
  rotate3d(1, 1, 0, 90deg);
 }
.rets{
  position: relative;
  color: red;
  animation: card 1s  linear infinite;
  margin: 2em;

}
@keyframes card {
   0%{
    transform:
    rotateX(60deg);
    transform-style: preserve-3d;  
  }
  70%{
    transform:none ;
  }
}
body{
  position: relative;
  margin-left: 60px;
  border: 1px solid blue;
  perspective: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: black;
}
.main{
padding: .5em;
background-color: aquamarine;
display: flex;
align-self: flex-start;
margin: 2em;
}
.time-main{
  position: relative;
  color:  hsl(345, 95%, 68%);
  height: 100px;
  border-radius: .2em;
  font-size: 5rem;
  background-color: hsl(236, 21%, 26%);
width: 100px;
text-align: center;
padding: .2em;
overflow: hidden;
margin: 10px;

&::after , &::before{
  content: '';
  background-color: black;
  width: 15px;
  height: 15px;
  top: 50%;
  position: absolute;
  border-radius: .2em;
} 
&::after{
  right: -5px;
}
&::before{
  left:-5px;
}
.time-main > span{
  position: absolute;
  left: 0;
  right: 0;
}
.top{
  z-index: 3;
  background-color: hsl(235, 16%, 14%);
  transform-origin: 50% 100%;
  position: absolute;
}
.bottom{
  z-index: 1;
  position: absolute;
}
.top-back,.bottom-back{
  z-index: 2;
  top: 0;
  position: absolute;
  height: 50%;
}
.top-back span,.bottom-back span{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
}